@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans' sans-serif;
}

.container {
    display: flex;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: rgb(95, 203, 211);
}

.content {
    background-color: rgb(186, 201, 99);
    border-radius: 15px;
    width: 960px;
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: red;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* */
    left: 60%;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #fff;
}

.description {
    font-size: 14px;
    font-weight: 350;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #7f8c8d;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: red;
}

.btn-second {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-second:hover {
    background-color: #fff;
    color: red;
}

.first-content {
    display: flex;
    display: none;
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.second-column {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1rem 0;
}

.link-social-media:not(:first-child) {
    margin-left: 10px;
}

.link-social-media:hover .item-social-media {
    background-color: #58af9b;
    color: #fff;
    border-color: #58af9b;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 5px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 6px;
}

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
}

.second-content .second-column {
    order: 1;
}

.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: capitalize;
}