<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/58c82d8e71.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">

                <form class="form">

                    <label class="label-input" for="">
                        <i  class="far fa-user icon-modify "></i>
                        <input type="text" placeholder="Pais">
                    </label>

                    <label class="label-input" for="">
                        <i class="far fa-user icon-modify "></i>
                        <input type="text" placeholder="Estado" id="endereco_estado">
                    </label>

                    <label class="label-input" for="">
                        <i  class="far fa-user icon-modify "></i>
                        <input type="text" placeholder="Municipio" id="endereco_municipio">
                    </label>

                    <label class="label-input" for="">
                        <i  class="far fa-user icon-modify "></i>
                        <input type="text" placeholder="CEP" id="endereco_cep">
                    </label>

                    <label class="label-input" for="">
                        <i class="far fa-user icon-modify "></i>
                        <input type="text" placeholder="Logradouro" id="endereco_logradouro">
                    </label>

                    <label class="label-input" for="">
                        <i class="far fa-user icon-modify "></i>
                        <input type="text" placeholder="Numero" id="endereco_numero">
                    </label>

                    <label class="label-input" for="">
                        <i class="far fa-user icon-modify "></i>
                        <input type="text" placeholder="Complemento" id="endereco_complemento">
                    </label>


                    <button class="btn  btn-second">Cadastrar</button>
                </form>

            </div>

        </div>

    </div>

</body>

</html>